body{
    background-color: rgb(0, 0, 0);

}


img{
    display: block;

    margin-bottom: 50px;

    max-width: 80%;

    margin-right: auto;

    margin-left: auto;

    width: auto !important;

    height: auto;

}

button {

    position : fixed; left: 1100px; bottom : 100px;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: rgba(0,0,0,0.5);
    color: #d7fff1;


}