body{
    background-color: rgb(250, 235, 100);

}


img{
    display: block;

    margin-bottom: 50px;

    max-width: 80%;

    margin-right: auto;

    margin-left: auto;

    width: auto !important;

    height: auto;

}
