body{
    background-color: rgb(0, 0, 0);

   
}





p{  text-align: center;
    text-decoration: none ;
    color: rgb(100, 100, 100);
    font-size: 100px;
  
  
    
}


img {

    display: block;

    margin-right:auto;

    margin-left:auto;

    margin-bottom: 20%;

    max-width: 90%; 
    
    height: auto;

    max-height: 80%;

}



